.td_top
{
	font-family: Calibri;
    font-size: 22pt;
	text-align:center;
    font-weight: bold;
    font-style: normal;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: underline;
    color:#006;
    background: #eff3f6;
    height:70px;
    BORDER-BOTTOM:  4px solid navy; 
    BORDER-TOP:   4px solid navy;

}
.td_bottom
{

	font-family: Calibri;
	font-size: 10pt;
	font-weight: normal;
	text-align:center;
    font-style: normal;
    text-decoration: none;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
    color: #006;
    background: #eff3f6;
    height:50px;
    BORDER-TOP: 4px solid navy;
}

h3{font-family: Calibri;
font-size: 22pt;
font-style: normal;
font-weight: bold; 
color:slateblue;
text-align: center; 
text-decoration: underline }

h4{font-family: Calibri;
font-size: 12pt;
position: absolute; 
bottom:0;
width:100%;
font-style: normal;
font-weight:lighter; 
color:slateblue;
text-align: center; 
text-decoration:blink }

table{
font-family: Calibri; 
color:white; 
font-size: 11pt; 
font-style: normal;
text-align:; background-color: #eff3f6; 
color: #000; border-collapse:!important; 
border: 2px solid navy }

.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, center top, 
    center bottom, from(#badff3), to(#7acbed));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, 
    rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, 
    rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, 
    rgba(0,0,0,0.1) 0 1px 1px;
    margin-center:12px;
    float:center;
 	padding:7px 21px;}

#cen
{
position:absolute;
top:20%;
left:29%;
}

#blurringTextG{
width:100%;
}

.blurringTextG{
font-family: Calibri;
font-size: 25pt;
font-style: normal;
font-weight: bold; 
color:solid navy;
text-align: center; 
text-decoration: underline;
color:#006;
background: #eff3f6;
height:70px;
BORDER-BOTTOM:  4px solid navy; 
BORDER-TOP:   4px solid navy;
text-shadow: #000000 0 0 0;
-moz-animation-name:bounce_blurringTextG;
-moz-animation-duration:1.82s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-animation-name:bounce_blurringTextG;
-webkit-animation-duration:1.82s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-animation-name:bounce_blurringTextG;
-ms-animation-duration:1.82s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-animation-name:bounce_blurringTextG;
-o-animation-duration:1.82s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
animation-name:bounce_blurringTextG;
animation-duration:1.82s;
animation-iteration-count:infinite;
animation-direction:normal;
}

@-moz-keyframes bounce_blurringTextG{
0%{
text-shadow: #000000 0 0 0;
}

50%{
text-shadow: #FFFFFF 0 0 20px;
}

100%{
text-shadow: #000000 0 0 0;
}

}

@-webkit-keyframes bounce_blurringTextG{
0%{
text-shadow: #000000 0 0 0;
}

50%{
text-shadow: #FFFFFF 0 0 20px;
}

100%{
text-shadow: #000000 0 0 0;
}

}

@-ms-keyframes bounce_blurringTextG{
0%{
text-shadow: #000000 0 0 0;
}

50%{
text-shadow: #FFFFFF 0 0 20px;
}

100%{
text-shadow: #000000 0 0 0;
}

}

@-o-keyframes bounce_blurringTextG{
0%{
text-shadow: #000000 0 0 0;
}

50%{
text-shadow: #FFFFFF 0 0 20px;
}

100%{
text-shadow: #000000 0 0 0;
}

}

@keyframes bounce_blurringTextG{
0%{
text-shadow: #000000 0 0 0;
}

50%{
text-shadow: #FFFFFF 0 0 20px;
}

100%{
text-shadow: #000000 0 0 0;
}

}

